<p>
  <strong>Law:</strong>
  <%= @project.law %>
</p>

<p>
  <strong>Law url:</strong>
  <%= @project.law_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Apresentation:</strong>
  <%= @project.apresentation_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @project.author %>
</p>

<p>
  <strong>Current local:</strong>
  <%= @project.current_local %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Last processing:</strong>
  <%= @project.last_processing %>
</p>

<p>
  <strong>Last action:</strong>
  <%= @project.last_action %>
</p>

<p>
  <strong>Accessory docs:</strong>
  <%= @project.accessory_docs %>
</p>

<p>
  <strong>Accessory docs url:</strong>
  <%= @project.accessory_docs_url %>
</p>

<p>
  <strong>Original text:</strong>
  <%= @project.original_text %>
</p>

<%= link_to 'Back', root_path %>